/* Header Style */
#fontOswald {
	font-family:'Oswald', sans-serif;
}
h1 {
	text-align:center;
}
div {
	padding:6px;
}

/* Footer Style */
h3 {
	text-align:center;
}

/* Menu Item Names */
th {
	font-size: 125%;
}

/* Light Grey Background */
#lightGrey {
	background-color: #EEEEEE;
}