/* Font */
#fontOswald {
	font-family:'Oswald', sans-serif;
}
/* Light Grey Background */
#lightGrey {
	background-color:#EEEEEE;
}
h1, h3, h4 {
	text-align:center;
}
div {
	padding:6px;
}
a.websiteLinks {
	text-decoration: none;
	color: black;
}
a.websiteLinks:link {
	text-decoration: none;
	color: black;
}
a.websiteLinks:visited {
	color: grey;
}
a.websiteLinks:hover {
	font-weight:bold;
	color:#F6A95C;
}	
a.websiteLinks:active{
	text-decoration:none;
}
/* Menu Item Names */
th {
	font-size:125%;
}
ul {
	border:1px solid #F6A95C;
	border-left-style:none;
	border-right-style:none;
}
@media (min-width: 1000px) {
	.container {
		max-width: 1000px;
	}
}
@media (max-width: 1000px) {
	.container {
			max-width:700px;
	}
}
#nav li {
	padding-right: 20px;
}
