/* Font */
#fontOswald {
	font-family:'Oswald', sans-serif;
}
/* Centering h1, h2, h3 and p */
h1, h2, h3, p {
	text-align:center;
}
/* Artist Hyperlink */
a:link {
	text-decoration:none;
	color:black;
}
a:visited {
	text-decoration:none;
	color:black;
}
a:hover {
	text-decoration:underline;
	background-color:grey;
}
a:active {
	text-decoration:none;
	color:black;
}
/* Band Members and Producers List */
li {
	margin-left:13%;
	font-style:italic;
}
/* Tracks Table */
table {
	border-collapse:collapse;
	text-align:center;
}
table th {
   background-color:grey;   
   text-align:center;
}
tbody tr {
	background-color:#EEEEEE;
}
tbody td {
	font-style:italic;
}
#tracksTable {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}



