/* Header Style */
#fontOswald {
	font-family:'Oswald', sans-serif;
}
/* Nav Bar */
h1 {
	text-align:center;
}
div {
	padding:6px;
}
a.websiteLinks {
	text-decoration: none;
	color: black;
}
a.websiteLinks:link {
	text-decoration: none;
	color: black;
}
a.websiteLinks:visited {
	color: grey;
}
a.websiteLinks:hover {
	font-weight: bold;
}	
a.websiteLinks:active{
	text-decoration: none;
}
/* Footer Style */
h3 {
	text-align:center;
}
/* Menu Item Names */
th {
	font-size: 125%;
}
/* Light Grey Background */
#lightGrey {
	background-color: #EEEEEE;
}



