table, th, td {
	border:1 px solid black;
	border-collapse: collapse;
	text-align: center;
}
h1, h2, h3 {
	text-align:center;
}
li {
	margin-left: 100px;
	font-style: italic;
}
#fontOswald {
	font-family:'Oswald', sans-serif;
}
#albumImg {
	background-image: url(imgJohnnyCash.jpg);
	width: 100%;
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}