#theOutcome {
	background-color:#EDEDED;
	color: black;
	display: inline-block;
	border-collapse: collapse;
	padding: 0px 30px 30px 30px;
    margin-top: 20px;
}
th, td {
	border: 2px solid white;
	padding: 5px;
    text-align: left;
}
th {
	background-color:darkgrey;
}
td {
	background-color:#EDEDED;
}
caption {
	text-align: center;
	color: black;
    font-size: 30px;
}
.centerText {
    display: block;
    text-align: center;
}
.buttonSize {
    padding: 20px 40px;
}
